<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            height: 100vh;
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #main {
            width: 350px;
        }
    </style>
</head>
<body>
    <img src=".{{path}}" alt="인생네컷 사진">
    <div id="main">
        <h1>사진촬영이 완료되었습니다.</h1>
        <p>게임화면으로 돌아가주세요!!</p>
    </div>
</body>
</html>